<!-- Navbar (sit on top) -->
<% include templates/navbar.html%>
    <!-- dynamic hotel profile -->
    <!-- First Parallax Image with Logo Text -->
    <div ng-controller="bookingController" ng-init="loadHotelActivity('<%= data.location%>')">
        <div class="col-md-12" style="padding: 0px;">
            <div id="hotel-profile" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <% for(var i=0; i<data.hotel_images.length; i++){%>
                        <li data-target="#hotel-profile" data-slide-to="<%= i%>" class="active"></li>
                        <%}%>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="/hotels/<%= data.hotel_images[0]%>" alt="<%= data.hotel_name%>">
                    </div>

                    <% for(var i=0; i<data.hotel_images.length; i++){%>
                        <div class="item">
                            <img src="/hotels/<%= data.hotel_images[i]%>" alt="Chicago">
                        </div>
                        <%}%>
                </div>

                <!-- Left and right controls -->
            </div>
        </div>



        <div class="bgimg-1 w3-display-container " id="home">
            <div class="w3-display-middle profile-slogan" style="white-space:nowrap;">
                <h2 class="w3-center ">
                    <%= data.hotel_name%> <span class="w3-hide-small"></span></h2>
                <h3 class=" w3-padding-large">
                    <%= data.exact_address%> <span class="w3-hide-small"></span></h3>

                <h4 class=" w3-padding-large">$
                    <%= data.price%> <span class="w3-hide-small"></span></h4>
            </div>
        </div>
        <div class="booking col-md-7 col-md-offset-3" ng-controller="bookingController">
            <div ng-if="responseMessage" class="alert-message" style="    background: #211f1f;
            color: white;
            padding: 10px;
            border-radius: 3px;
            position: fixed;
            z-index: 9999;
            right: 0;
            width: 32%;
            top: 0;">
                <label for="">{{responseMessage}}</label>
            </div>
            <form class="form-inline" style="position: absolute;
          margin-top: -40%;">
                <div class="form-group">
                    <label for="email">Checkin</label> <br>
                    <input type="date" class="form-control" ng-model="booking.checkIn">
                </div>
                <div class="form-group">
                    <label for="pwd">Checkout</label> <br>
                    <input type="date" class="form-control" ng-model="booking.checkOut">
                </div>
                <div class="form-group">
                    <label for="pwd">Adult</label> <br>
                    <select class="form-control" ng-model="booking.adult">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">10+</option>
                  </select>
                </div>
                <div class="form-group">
                    <label for="pwd">Children</label><br>
                    <select class="form-control" ng-model="booking.children">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                  </select>
                </div>
                <div class="form-group">
                    <label for="pwd">No of Room</label><br>
                    <select class="form-control" ng-model="booking.num_room">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                  </select>
                </div>
                <% if(loginStatus == true){%>
                    <button class="btn btn-primary btn-lg" ng-click="checkBooking('<%= data._id%>', '<%= user._id%>')" style="width: 100%; margin-top: 10px;"><span class="fa fa-check" style="margin-right: 7px; font-size: 23px;"></span> Check Price and Availability </button>
                    <%}else{%>
                        <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#registermodel" style="width: 100%; margin-top: 10px;"><span class="fa fa-check" style="margin-right: 7px; font-size: 23px;"></span> Check Price and Availability </button>
                        <%}%>
            </form>
        </div>

        <!-- Container (About Section) -->

        <div class="w3-content w3-container w3-padding-64" id="about">
            <h3 class="w3-center">Welcome to
                <%= data.hotel_name%>
            </h3>
            <p class="w3-center"><em>Contact:<%= data.contact%></em></p>
            <h3 class="w3-center">$
                <%= data.contact%>
            </h3>
            <p>
                <%= data.description%>
            </p>

            <div class="col-md-12" ng-controller="bookingController">
                <div class="col-md-6">
                    <h1>Amenities</h1>
                    <%= data.sub%>

                        <!-- <label for=""><i class="fas fa-drumstick-bite"></i> In House Restaurant</label> <br> -->
                        <% for(var i=0; i < data.sub.length; i++){%>
                            <label for=""><i class="fa {{icon['<%= i%>']}}"></i> <%= data.sub[i]%> </label> <br>
                            <%}%>
                </div>
                <div class="col-md-6">
                    <h1>Hotel Rules</h1>
                    <%= data.rules%>
                </div>

            </div>




            <div class="w3-row-padding w3-center w3-section">

                <button class="w3-button w3-padding-large w3-light-grey" style="margin-top:64px" onclick="gg()" id="myBtn">READ MORE</button>
            </div>
        </div>

        <!-- Second Parallax Image with Portfolio Text -->


        <!-- Container (Portfolio Section) -->
        <!-- Responsive Grid. Four columns on tablets, laptops and desktops. Will stack on mobile devices/small screens (100% width) -->
        <div class="container" id="portfolio" style="padding-top:19px;" ng-controller="bookingController" ng-init="loadHotelActivity('<%= data.location%>')">
            <h3 class="w3-center">Top EXPERIENCE in Nepal</h3>
            <p class="w3-center"><em>These are some of the top Activity for Nepal<br></em></p><br>

            <!-- Responsive Grid. Four columns on tablets, laptops and desktops. Will stack on mobile devices/small screens (100% width) -->
            <div id="myCarousel1" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="col-md-3 inner-activity-item" ng-if="activities[0].activity_images[0]">
                            <img src="/activity/{{activities[0].activity_images[0]}}" alt="" width="100%" height="320px !important">
                            <h4 class="text-center">{{activities[0].name}}</h4>
                            <a class="" href="/activity/{{activities[0]._id}}">
                                <p class="text-center btn btn-info" style="text-align: center"> See details</p>
                            </a>
                        </div>
                        <div class="col-md-3 inner-activity-item" ng-if="activities[1].activity_images[0]">
                            <img src="/activity/{{activities[1].activity_images[0]}}" alt="" width="100%" height="320px !important">
                            <h4 class="text-center">{{activities[1].name}}</h4>
                            <a class="" href="/activity/{{activities[1]._id}}">
                                <p class="text-center btn btn-info" style="text-align: center"> See details</p>
                            </a>
                        </div>
                        <div class="col-md-3 inner-activity-item" ng-if="activities[2].activity_images[0]">
                            <img src="/activity/{{activities[2].activity_images[0]}}" alt="" width="100%" height="320px !important">
                            <h4 class="text-center">{{activities[2].name}}</h4>
                            <a class="" href="/activity/{{activities[2]._id}}">
                                <p class="text-center btn btn-info" style="text-align: center"> See details</p>
                            </a>
                        </div>
                        <div class="col-md-3 inner-activity-item" ng-if="activities[3].activity_images[0]">
                            <img src="/activity/{{activities[3].activity_images[0]}}" alt="" width="100%" height="320px !important">
                            <h4 class="text-center">{{activities[3].name}}</h4>
                            <a class="" href="/activity/{{activities[3]._id}}">
                                <p class="text-center btn btn-info" style="text-align: center"> See details</p>
                            </a>
                        </div>
                    </div>

                    <div class="item">
                        <div class="col-md-3 inner-activity-item" ng-if="activities[4].activity_images[0]">
                            <img src="/activity/{{activities[4].activity_images[0]}}" alt="" width="100%" height="320px !important">
                            <h4 class="text-center">{{activities[4].name}}</h4>
                            <a class="" href="/activity/{{activities[4]._id}}">
                                <p class="text-center btn btn-info" style="text-align: center"> See details</p>
                            </a>
                        </div>
                        <div class="col-md-3 inner-activity-item" ng-if="activities[5].activity_images[0]">
                            <img src="/activity/{{activities[5].activity_images[0]}}" alt="" width="100%" height="320px !important">
                            <h4 class="text-center">{{activities[5].name}}</h4>
                            <a class="" href="/activity/{{activities[5]._id}}">
                                <p class="text-center btn btn-info" style="text-align: center"> See details</p>
                            </a>
                        </div>
                        <div class="col-md-3 inner-activity-item" ng-if="activities[6].activity_images[0]">
                            <img src="/activity/{{activities[6].activity_images[0]}}" alt="" width="100%" height="320px !important">
                            <h4 class="text-center">{{activities[6].name}}</h4>
                            <a class="" href="/activity/{{activities[6]._id}}">
                                <p class="text-center btn btn-info" style="text-align: center"> See details</p>
                            </a>
                        </div>
                        <div class="col-md-3 inner-activity-item" ng-if="activities[7].activity_images[0]">
                            <img src="/activity/{{activities[7].activity_images[0]}}" alt="" width="100%" height="320px !important">
                            <h4 class="text-center">{{activities[7].name}}</h4>
                            <a class="" href="/activity/{{activities[7]._id}}">
                                <p class="text-center btn btn-info" style="text-align: center"> See details</p>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel1" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel1" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

            <div class="w3-row-padding w3-center w3-section">

                <button class="w3-button w3-padding-large w3-light-grey" style="margin-top:64px">LOAD MORE</button>
            </div>
        </div>

        <!-- Modal for full size images on click-->
        <!-- <div id="modal01" class="w3-modal w3-black" onclick="this.style.display='none'">
            <span class="w3-button w3-large w3-black w3-display-topright" title="Close Modal Image"><i class="fa fa-remove"></i></span>
            <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
                <img id="img01" class="w3-image">
                <p id="caption" class="w3-opacity w3-large"></p>
            </div>
        </div> -->
        <div class="container" id="portfolio" style="background: linear-gradient(45deg,#201744, #0a122f, black, #2051cc);
            width: 100%;
            padding: 20px 77px;" ng-controller="bookingController" ng-init="loadHotelActivity('<%= data.location%>')">
            <h3 class="w3-center">Top Hotels in Nepal</h3>
            <p class="w3-center"><em>Here are the list of top hotels of Nepal<br></em></p><br>
            <!-- Responsive Grid. Four columns on tablets, laptops and desktops. Will stack on mobile devices/small screens (100% width) -->
            <div id="myCarousel3" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="col-md-3 inner-activity-item" ng-if="hotels[0].hotel_images[0]">
                            <img src="/hotels/{{hotels[0].hotel_images[0]}}" alt="" width="100%" height="320px !important">
                            <h4 class="text-center">{{hotels[0].name}}</h4>
                            <a class="" href="/hotel/{{hotels[0]._id}}">
                                <p class="text-center btn btn-info" style="text-align: center"> See details</p>
                            </a>
                        </div>
                        <div class="col-md-3 inner-activity-item" ng-if="hotels[1].hotel_images[0]">
                            <img src="/hotels/{{hotels[1].hotel_images[0]}}" alt="" width="100%" height="320px !important">
                            <h4 class="text-center">{{hotels[1].name}}</h4>
                            <a class="" href="/hotel/{{hotels[1]._id}}">
                                <p class="text-center btn btn-info" style="text-align: center"> See details</p>
                            </a>
                        </div>
                        <div class="col-md-3 inner-activity-item" ng-if="hotels[2].hotel_images[0]">
                            <img src="/hotels/{{hotels[2].hotel_images[0]}}" alt="" width="100%" height="320px !important">
                            <h4 class="text-center">{{hotels[2].name}}</h4>
                            <a class="" href="/hotel/{{hotels[2]._id}}">
                                <p class="text-center btn btn-info" style="text-align: center"> See details</p>
                            </a>
                        </div>
                        <div class="col-md-3 inner-activity-item" ng-if="hotels[3].hotel_images[0]">
                            <img src="/hotels/{{hotels[3].hotel_images[0]}}" alt="" width="100%" height="320px !important">
                            <h4 class="text-center">{{hotels[3].name}}</h4>
                            <a class="" href="/hotel/{{hotels[3]._id}}">
                                <p class="text-center btn btn-info" style="text-align: center"> See details</p>
                            </a>
                        </div>
                    </div>

                    <div class="item">
                        <div class="col-md-3 inner-activity-item" ng-if="hotels[4].hotel_images[0]">
                            <img src="/hotels/{{hotels[4].hotel_images[0]}}" alt="" width="100%" height="320px !important">
                            <h4 class="text-center">{{hotels[4].name}}</h4>
                            <a class="" href="/hotel/{{hotels[4]._id}}">
                                <p class="text-center btn btn-info" style="text-align: center"> See details</p>
                            </a>
                        </div>
                        <div class="col-md-3 inner-activity-item" ng-if="hotels[5].hotel_images[0]">
                            <img src="/hotels/{{hotels[5].hotel_images[0]}}" alt="" width="100%" height="320px !important">
                            <h4 class="text-center">{{hotels[5].name}}</h4>
                            <a class="" href="/hotel/{{hotels[5]._id}}">
                                <p class="text-center btn btn-info" style="text-align: center"> See details</p>
                            </a>
                        </div>
                        <div class="col-md-3 inner-activity-item" ng-if="hotels[6].hotel_images[0]">
                            <img src="/hotels/{{hotels[6].hotel_images[0]}}" alt="" width="100%" height="320px !important">
                            <h4 class="text-center">{{hotels[6].name}}</h4>
                            <a class="" href="/hotel/{{hotels[6]._id}}">
                                <p class="text-center btn btn-info" style="text-align: center"> See details</p>
                            </a>
                        </div>
                        <div class="col-md-3 inner-activity-item" ng-if="hotels[7].hotel_images[0]">
                            <img src="/hotels/{{hotels[7].hotel_images[0]}}" alt="" width="100%" height="320px !important">
                            <h4 class="text-center">{{hotels[7].name}}</h4>
                            <a class="" href="/hotel/{{hotels[7]._id}}">
                                <p class="text-center btn btn-info" style="text-align: center"> See details</p>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel3" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel3" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

        <!-- Third Parallax Image with Portfolio Text -->
        <div class="container" ng-controller="bookingController" ng-init="loadMap('<%= data.lat%>', '<%= data.lng%>')">
            <h1>Hotel on map</h1>
            <div id="hotelmap" style="width: 100%; height: 400px; margin-bottom: 4%">

            </div>
        </div>
    </div>
    <style>
        .form-group label {
            text-shadow: 1px 1px 13px #151313;
            color: white;
            font-size: 26px;
            font-weight: bold;
        }
        
        .form-group input {
            font-size: 19px;
            height: 47px;
        }
        
        .form-group select {
            font-size: 19px;
            height: 47px;
        }
    </style>
    <!-- Footer -->
    <% include templates/footer.html%>